.bt {
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
    } 
    
    .bt-vd {
    border-color:#68b465;
    background:linear-gradient(to bottom, #abd5aa 5%, #68b465 100%);
    box-shadow:inset 0px 1px 0px 0px #e3f1e3;
    color:#fff;
    text-shadow:0px 1px 0px #528009;
    }
    
    .bt-lj {
    border-color:#eb9b48;
    background:linear-gradient(to bottom, #f7d6b3 5%, #eb9b48 100%);
    box-shadow:inset 0px 1px 0px 0px #fdf7f0;
    color:#333;
    text-shadow:0px 1px 0px #ffee66;
    }
    
    .bt-az {
    border-color:#46a7f5;
    background: #234e72 100%;
    box-shadow:inset 0px 1px 0px 0px #d7ecfd;
    color:#fff;
    text-shadow:0px 1px 0px #528009;  
    }
    
    .bt-vm {
    border-color:#f61f0e;
    background:linear-gradient(to bottom, #fca8a1 5%, #f61f0e 100%);
    box-shadow:inset 0px 1px 0px 0px #fff4f3;
    color:#fff;
    text-shadow:0px 1px 0px #528009; 
    }
    
    .bt-vd:hover {
    background:linear-gradient(to bottom, #68b465 5%, #abd5aa 100%);
    }
    
    .bt-lj:hover {
    background:linear-gradient(to bottom, #eb9b48 5%, #f7d6b3 100%);
    }
    
    .bt-az:hover {
    background:linear-gradient(to bottom, #234e72 5%, #86c6f8 100%);
    }
    
    .bt-vm:hover {
    background:linear-gradient(to bottom, #f61f0e 5%, #fca8a1 100%);
    }
    
    .bt:active {
    position:relative;
    top:2px;}
